<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Agregar Cliente</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">Nombre:</label>
          <input [(ngModel)]="cliente.nombre" type="text" name="nombreadd" id="nombreadd" class="form-control"
            placeholder="Nombre" aria-describedby="helpId">
          <small id="helpIdnombreadd" class="text-muted">Ingresar nombre</small>
        </div>
        <div class="form-group">
          <label for="">Direccion:</label>
          <input [(ngModel)]="cliente.direccion" type="text" name="direccionadd" id="direccionadd" class="form-control"
            placeholder="Direccion" aria-describedby="helpId">
          <small id="helpIddireccionadd" class="text-muted">Ingresar dirección</small>
        </div>
        <div class="form-group">
          <label for="">Ciudad:</label>
          <input [(ngModel)]="cliente.ciudad" type="text" name="ciudadadd" id="ciudadadd" class="form-control"
            placeholder="Ciudad" aria-describedby="helpId">
          <small id="helpIdnciudadadd" class="text-muted">Ingresar ciudad</small>
        </div>
        <div class="form-group">
          <label for="">Telefono:</label>
          <input [(ngModel)]="cliente.telefono" type="text" name="telefonoadd" id="telefonoadd" class="form-control"
            placeholder="Telefono" aria-describedby="helpId">
          <small id="helpIdtelefonoadd" class="text-muted">ingresar telefono</small>
        </div>
        <button (click)="Guardar(cliente)" class="btn btn-danger">Guardar</button>
      </form>
    </div>
  </div>
</div>